{% extends 'base.html'%}

{% block body %}
    <h1>{{project.organization.title}}</h1>
    <hr/>
    <h2>Project: {{project.title}}</h2>
    <div>
        <h3>Number of Employees: </h3>
        <p>{{project_employees_count}}</p>
    </div>
    <table>
        <tr>
            <td>Employee Name</td>
            <td>Salary</td>
        </tr>
        {% for employee in project_employees %}
        <tr>
            <td>
                <a href="/employee/{{employee.id}}">
                    {{employee.get_full_name}}
                </a>
            </td>
            <td>
                {{employee.salary}}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
